.DS_Store
default.properties
gen
assets/www/cordova.js
local.properties
proguard.cfg
proguard.cfg
proguard-project.txt
app/assets/www/.tmp*
gradle/
gradlew
gradlew.bat
build/
.gradle
tmp/**
.metadata
tmp/**/*
Thumbs.db
Desktop.ini
*.tmp
*.bak
*.apk
*.swp
*.class
# IntelliJ IDEA files
*.iml
.idea
npm-debug.log
/app/build
node_modules/
